@charset "UTF-8";

.head, .body, .foot,
.head .ear, .head .eye, .head .cheek, .head .nose, .head .mouth, .head .mouth-close,
.body .belly, .body .tail
{
	position: relative;
}
.pikachu, .head .ear .ear-l, .head .ear .ear-r,
.head .eye .eye-l, .head .eye .eye-r,
.head .cheek .cheek-l, .head .cheek .cheek-r,
.body .hand .hand-l, .body .hand .hand-r,
.body .belly .belly-t, .body .belly .belly-m, .body .belly .belly-b,
.body .tail .tail-1, .body .tail .tail-2, .body .tail .tail-3, .body .tail .tail-4,
.foot .foot-l, .foot .foot-r
{
	position: absolute;
}

.head,
.head .ear .ear-l, .head .ear .ear-r,
.body .hand .hand-l, .body .hand .hand-r,
.body .belly .belly-t, .body .belly .belly-b,
.body .tail .tail-1, .body .tail .tail-2, .body .tail .tail-3, .body .tail .tail-4,
.foot .foot-l, .foot .foot-r
{
	background-color: #faf305;
	border: 3px solid #222;
}
/* 整体 */
.pikachu {
	top: 25%;
	left: 50%;
	animation: sport 5s infinite;
}
@keyframes sport {
	0% {
		transform: translate(0px,0px);
	}
	20% {
		transform: translate(0px,10px);
	}
	40% {
		transform: translate(0px,-1px);
	}
	60% {
		transform: translate(0px,-11px);
	}
	80% {
		transform: translate(0px,0px);
	}
}
/* 头部：耳朵，眼睛，嘴巴，脸腮，鼻子 */
.head {
	width: 120px;
	height: 126px;
	border-top-left-radius: 46%;
	border-top-right-radius: 46%;
	border-bottom-left-radius: 42%;
	border-bottom-right-radius: 42%;
	/* border-bottom: none; */
}
/* 头部耳朵 */
.head .ear {}
.head .ear .ear-l {
	top: -90px;
	left: 2px;
	width: 32px;
	height: 98px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 38%;
	border-bottom-right-radius: 38%;
	border-bottom: none;
	overflow: hidden;
	transform: rotate(-48deg);
	transform-origin: 94% 100%;
	animation: earL 6s infinite;
}
@keyframes earL {
	0% {
		transform: rotate(-48deg);
	}
	33% {
		transform: rotate(-40deg);
	}
	66% {
		transform: rotate(-56deg);
	}
}
.head .ear .ear-r {
	top: -94px;
	left: 84px;
	width: 30px;
	height: 98px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 38%;
	border-bottom-right-radius: 38%;
	border-bottom: none;
	overflow: hidden;
	transform: rotate(58deg);
	transform-origin: 2% 100%;
	animation: earR 8s infinite;
}
@keyframes earR {
	0% {
		transform: rotate(58deg);
	}
	33% {
		transform: rotate(68deg);
	}
	66% {
		transform: rotate(48deg);
	}
}
.head .ear .ear-l::before, .head .ear .ear-r::before {
	content: "";
	display: block;
	width: 100%;
	height: 30px;
	background-color: rgb(65, 35, 45);
}
/* 头部眼睛 */
.head .eye {}
.head .eye .eye-l {
	top: 30px;
	left: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #222;
}
.head .eye .eye-r {
	top: 30px;
	left: 72px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #222;
}
.head .eye .eye-l::before, .head .eye .eye-r::before {
	position: absolute;
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
}
.head .eye .eye-l::before {
	left: 10px;
}
.head .eye .eye-r::before {
	left: 4px;
}
/* 头部脸腮 */
.head .cheek {}
.head .cheek .cheek-l {
	top: 58px;
	left: 10px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 1px solid #222;
	background-color: #fe0000;
	animation: gradient 5s infinite alternate;
}
.head .cheek .cheek-r {
	top: 58px;
	left: 80px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 1px solid #222;
	background-color: #fe0000;
	animation: gradient 5s infinite alternate;
}
@keyframes gradient {
	0% {
		opacity: .6;
	}
	25% {
		opacity: .8;
	}
	50% {
		opacity: .9;
	}
	75% {
		opacity: 1;
	}
}
/* 头部鼻子 */
.head .nose {
	top: 68px;
	left: 58px;
	width: 4px;
	height: 2px;
	background-color: #8d1306;
}
/* 头部嘴巴 */
.head .mouth {
	top: 82px;
	left: 45px;
	width: 28px;
	height: 32px;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 90%;
	background-color: #6a1e20;
	border: 2px solid #6a1e20;
	overflow: hidden;
	animation: speak 2s infinite;
}
.head .mouth::after {
	content: "";
	display: block;
	transform: rotate(-45deg) translate(-4px, 2px);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #ea6079;
}
@keyframes speak {
	0% {
		height: 32px;
	}
	25% {
		height: 24px;
	}
	50% {
		height: 10px;
	}
	75% {
		height: 1px;
	}
}
.head .mouth-close {
	display: none;
	top: 82px;
	left: 45px;
	width: 28px;
	height: 10px;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	border-bottom-left-radius: 90%;
	border-bottom-right-radius: 90%;
	background-color: #6a1e20;
	border: 2px solid #6a1e20;
	overflow: hidden;
}
.head .mouth-close::after {
	content: "";
	display: block;
	transform: rotate(-10deg) translate(-1px, 4px);
	width: 100%;
	height: 100%;
	border-top-right-radius: 50%;
	background-color: #ea6079;
}

/* 身体：手，肚子，尾巴 */
.body {
	top: -2px;
}
/* 手 */
.body .hand {}
.body .hand .hand-l {
	top: -58px;
	left: -40px;
	transform: rotate(-65deg);
	width: 44px;
	height: 90px;
	border-top-left-radius: 46%;
	border-top-right-radius: 44%;
	border-bottom-left-radius: 28%;
	border-bottom-right-radius: 26%;
	border-bottom: none;
	/* animation: handL 2s infinite; */
}
@keyframes handL {
	0% {
		border-top-left-radius: 46%;
		border-top-right-radius: 44%;
	}
	25% {
		border-top-left-radius: 40%;
		border-top-right-radius: 38%;
	}
	50% {
		border-top-left-radius: 48%;
		border-top-right-radius: 46%;
		transform: rotate(-62deg);
	}
	75% {
		border-top-left-radius: 54%;
		border-top-right-radius: 50%;
	}
}
.body .hand .hand-r {
	top: -70px;
	left: 104px;
	transform: rotate(42deg);
	width: 40px;
	height: 88px;
	border-top-left-radius: 46%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 38%;
	border-bottom-right-radius: 24%;
	border-bottom: none;
	animation: handR 2s infinite;
}
@keyframes handR {
	0% {
		border-top-left-radius: 46%;
		border-top-right-radius: 50%;
	}
	25% {
		border-top-left-radius: 40%;
		border-top-right-radius: 45%;
	}
	50% {
		border-top-left-radius: 38%;
		border-top-right-radius: 39%;
	}
	75% {
		border-top-left-radius: 34%;
		border-top-right-radius: 29%;
	}
}
/* 肚子 */
.body .belly {
}
.body .belly .belly-t {
	top: -14px;
	width: 120px;
	height: 70px;
	transform: rotate(-10deg);
	border-top-left-radius: 46%;
	border-top-right-radius: 46%;
	border-bottom-left-radius: 24%;
	border-bottom-right-radius: 24%;
	border-bottom: none;
	z-index: -1;
}
.body .belly .belly-m {
	top: 2px;
	left: 3px;
	width: 124px;
	height: 80px;
	border-top-left-radius: 44%;
	border-top-right-radius: 44%;
	border-bottom-left-radius: 38%;
	border-bottom-right-radius: 38%;
	background-color: #faf305;
}
.body .belly .belly-b {
	top: 2px;
	left: -7px;
	width: 140px;
	height: 120px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 38%;
	border-bottom-right-radius: 38%;
	border-top: none;
	z-index: -1;
}
.body .tail {
	top: 66px;
	left: -16px;
	z-index: -2;
	animation: shake 6s infinite alternate;
}
@keyframes shake {
	0% {
		transform: rotate(2deg);
	}
	10% {
		transform: rotate(2.4deg);
	}
	20% {
		transform: rotate(3.0deg);
	}
	30% {
		transform: rotate(2.7deg);
	}
	40% {
		transform: rotate(2.5deg);
	}
	50% {
		transform: rotate(2.9deg);
	}
	60% {
		transform: rotate(3.2deg);
	}
	70% {
		transform: rotate(2.8deg);
	}
	80% {
		transform: rotate(2.5deg);
	}
	90% {
		transform: rotate(2.2deg);
	}
}
.body .tail .tail-1 {
	transform: rotate(58deg);
	width: 8px;
	height: 28px;
	border-top: none;
}
.body .tail .tail-2 {
	top: -12px;
	left: -18px;
	transform: rotate(-42deg);
	width: 14px;
	height: 38px;
	border-top: none;
	border-bottom: none;
}
.body .tail .tail-2::after {
	position: relative;
	top: 30px;
	left: 10px;
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background-color: #faf305;
}
.body .tail .tail-3 {
	top: -10px;
	left: -40px;
	transform: rotate(48deg);
	width: 22px;
	height: 50px;
	border-top: none;
	border-bottom: none;
}
.body .tail .tail-3::after {
	position: relative;
	top: 1px;
	left: 15px;
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #faf305;
}
.body .tail .tail-4 {
	top: -58px;
	left: -95px;
	transform: rotate(-60deg);
	width: 38px;
	height: 104px;
	border-bottom: none;
}
.body .tail .tail-4::after {
	position: relative;
	top: 95px;
	left: 36px;
	content: "";
	display: block;
	width: 10px;
	height: 18px;
	background-color: #faf305;
}

/* 脚 */
.foot {
	top: -2px;
}
.foot .foot-l {
	top: 96px;
	transform: rotate(-90deg);
	width: 24px;
	height: 60px;
	border-top-left-radius: 45%;
	border-top-right-radius: 45%;
	border-bottom-left-radius: 38%;
	animation: walkL 2s infinite alternate;
}
@keyframes walkL {
	0% {
		transform: rotate(-88deg);
	}
	25% {
		transform: rotate(-86deg);
	}
	50% {
		transform: rotate(-89deg);
	}
	75% {
		transform: rotate(-92deg);
	}
}
.foot .foot-l::before {
	position: relative;
	top: 32px;
	left: 14px;
	content: "";
	display: block;
	width: 14px;
	height: 38px;
	border-bottom-left-radius: 68%;
	background-color: #faf305;
}
.foot .foot-r {
	top: 98px;
	left: 90px;
	transform: rotate(90deg);
	width: 22px;
	height: 58px;
	border-top-left-radius: 45%;
	border-top-right-radius: 45%;
	border-bottom-right-radius: 38%;
	animation: walkR 2s infinite alternate;
}
@keyframes walkR {
	0% {
		transform: rotate(88deg);
	}
	25% {
		transform: rotate(86deg);
	}
	50% {
		transform: rotate(89deg);
	}
	75% {
		transform: rotate(92deg);
	}
}
.foot .foot-r::before {
	position: relative;
	top: 20px;
	left: -10px;
	content: "";
	display: block;
	width: 14px;
	height: 42px;
	border-top-right-radius: 68%;
	background-color: #faf305;
}
