@charset "UTF-8";
body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #ccc;
}
canvas {
	width: 100vw;
	height: 100vh;
}
.pikachu-obj {
	top: 40%;
	left: 25%;
	transform: scale(.4);
	z-index: 99;
}